@{
    ViewData["Title"] = "Flight List - Airline";
}

<h1 class="text-center">Flight List</h1>

<a class="btn btn-success mb-3" href="@Url.Action("Create")">New Flight</a>

<table id="flights" class="table table-striped table-bordered hover" style="width:100%">
    <thead>
        <tr>
            <th>Detail</th>
            <th>ID</th>
            <th>Departure Airport</th>
            <th>Destination Airport</th>
            <th>Departure Time</th>
            <th>Destination Time</th>
            <th>Aircraft</th>
            <th>Edit or delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Detail</th>
            <th>ID</th>
            <th>Departure Airport</th>
            <th>Destination Airport</th>
            <th>Departure Time</th>
            <th>Destination Time</th>
            <th>Aircraft</th>
            <th>Edit or delete</th>
        </tr>
    </tfoot>
</table>

<script>var data = '@Html.Raw(ViewBag.Flights)';</script>
<script src="~/js/flights.js"></script>